@layer app {
  .select-bar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: var(--color-bg-default);
    border: 1px solid var(--color-border-default);
  }

  .poke-box-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    /* if has max 2 */
    &.has-1 {
      grid-template-columns: repeat(1, 1fr);
    }
    &.has-2 {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .poke-box {
    display: flex;
    flex-direction: column;
    background: teal;
    border-radius: 8px;
    padding: 0.5rem;
    gap: 0.5rem;
    max-width: 800px;
    margin: 0 auto;
  }

  .poke-box-title {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
    padding: 0.5rem;
    color: black;
  }

  .poke-box-cells {
    display: grid;
    grid-template-columns: repeat(6, minmax(40px, 1fr));
    grid-template-rows: repeat(5, minmax(40px, 1fr));
    gap: 0.5rem;
  }

  .poke-box-cell {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 0.125rem;
    color: black;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;

    img {
      display: block;
      flex: 1;
      width: 100%;
      height: 100%;
      aspect-ratio: 1 / 1;
      object-fit: contain;
      content-visibility: auto;
    }
  }

  .poke-box-cell-empty {
    background: rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
  }
}

@layer base {
  select {
    appearance: none;
    appearance: base-select;
    flex: 1;
    border: none;
    background: rgb(0, 65, 65);
    border-radius: 8px;
    padding: 0.5rem;
    min-height: 2ch;

    &::picker-icon {
      display: none;
    }

    selectedcontent p,
    selectedcontent {
      text-align: center;
      width: 100%;
      border: none;
      min-height: 2ch;
      color: white;
    }

    optgroup {
      margin-top: 0.5rem;
      option:first-child {
        margin-top: 0.5rem;
      }
    }

    option {
      border-radius: 8px;
      padding: 0.5rem;
    }

    p.placeholder {
      opacity: 0.65;
    }

    option:hover {
      border-radius: 8px;
      padding: 0.5rem;
      background: #ccc;
    }
  }

  .select::picker(select) {
    margin-top: 0.25rem;
    border-radius: 8px;
    border: #555 1px solid;
    background: #f0f0f0;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    opacity: 0;
    transition: all 0.2s allow-discrete;
  }

  .select::picker(select):popover-open {
    opacity: 1;
  }

  @starting-style {
    .select::picker(select):popover-open {
      opacity: 0;
    }
  }
}
