@import 'https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wdth,wght@0,100..125,100..900;1,100..125,100..900&display=swap';

@layer theme {
  :root {
    --font-sans:
      ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';

    --font-brand:
      'Sour Gummy', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';
  }
}

@layer app {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-bg-default);
    border: 1px solid var(--color-border-default);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-brand);
    font-optical-sizing: auto;
    font-style: normal;
  }

  h1 {
    font-size: 3rem;
    font-weight: 800;
    font-variation-settings: 'wdth' 105%;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: 800;
    font-variation-settings: 'wdth' 104%;
  }
  h3 {
    font-size: 2rem;
    font-weight: 700;
    font-variation-settings: 'wdth' 103%;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: 700;
    font-variation-settings: 'wdth' 102%;
  }
  h5 {
    font-size: 1rem;
    font-weight: 600;
    font-variation-settings: 'wdth' 101%;
  }
  h6 {
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 600;
    font-variation-settings: 'wdth' 100%;
  }

  select,
  ::picker(select) {
    appearance: base-select;
  }
}

@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 18px; /* 18px is the recommended for web design in 2025+ */
    font-family: var(--font-sans);
    color-scheme: light dark;
    /* -webkit-font-smoothing: antialiased; */
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    hanging-punctuation: first allow-end last;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  p {
    /* Use "p" for pretty =) */
    text-wrap: pretty;
  }

  ul,
  ol,
  dl {
    list-style-position: inside;

    ul,
    ol,
    dl {
      padding-inline-start: 1lh;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}
